@import url("../../theme.css");

.user-ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0;
  padding-left: 0.3rem;
  border-right: 2px solid var(--cardBackground);
  padding-right: 1rem;
  margin-right: 1rem;
  height: 9rem;
}
.user-ul li a {
  margin-bottom: 0.5rem;
  display: block;
}
.active-user-link {
  color: white !important;
  background-color: var(--primaryOp50);
  padding: 7px 18px;
  border-radius: 4px;
  text-align: left;
}

@media all and (max-width: 800px) {
  .user-ul {
    text-align: center;
    height: auto;
    border-right: 0px;
    border-bottom: 2px solid var(--cardBackground);
  }
  .user-ul li a {
    text-align: center;
  }
}
