@import "../../theme.css";

.btn {
  color: white !important;
  box-shadow: var(--mainBoxShadow);
  border: none;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  transition: transform 0.3s ease;
}

/*button style*/

.btn-primary {
  background-color: var(--primary);
}
.btn-primary:hover {
  background-color: var(--primaryOp50);
}

.btn-secondary {
  background-color: var(--secondary);
}
.btn-secondary:hover {
  background-color: var(--secondaryOp50);
}
.btn-danger {
  background-color: var(--danger);
}
.btn-danger:hover {
  background-color: var(--danger);
}

/*button size*/

.btn-small {
  padding: 6px 14px;
  font-size: 1rem;
}
.btn-medium {
  padding: 8px 26px;
  font-size: 1.2rem;
}
.btn-large {
  padding: 10px 36px;
  font-size: 1.5rem;
}
