@import url("../theme.css");
.form {
  text-align: left;
  font-size: 1rem;
  margin: 30px;
}
.form-label {
  color: #ffffff;
  display: inline-block;
}

.form-input {
  width: 98%;
  background-color: var(--pageBackground);
  line-height: 2;
  margin: 10px 0;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}
.form-error {
  min-height: 50px;
}
.form-input-error {
  border-color: var(--danger);
}
.label-input-error {
  color: var(--danger);
}

.error-message {
  font-size: 0.8rem;
  margin: 5px 0;
  color: var(--danger);
  display: block;
}
