@import url("../../theme.css");

.exercise-filter-section {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 3px solid var(--cardBackground);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.exercise-filters {
  align-self: flex-end;
}
.exercise-filter-select {
  margin-right: 1.5rem;
  border: none;
  background: none;
  padding: 0 20px;
  padding-bottom: 2px;
  border-bottom: 1px solid var(--cardBackgroundOp50);
}
@media all and (max-width: 800px) {
  .exercise-filter-section * {
    margin-top: 0.5rem;
  }
}
