.img-and-description {
  margin-top: 2rem;
}
.frame-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}
.exercise-description {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.exercise-img {
  max-width: 100%;
}
.exercise-video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
