@import url("../../theme.css");

.card-wrapper {
  background-color: var(--cardBackground);
  margin: 0 auto;
  border-radius: 15px;
  padding: 20px;
  width: 450px;
  max-width: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card-wrapper-10p {
  margin: 5% auto !important;
}

.card-dark {
  background-color: var(--cardBackground);
}
.card-light {
  background-color: var(--workoutCardBackground);
}
