@import url("../../theme.css");

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.52);
}
.modal-backdrop {
  z-index: 1;
}
.modal {
  background-color: var(--pageBackground);
  width: 60vw;
  height: 79vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  overflow: hidden;
}
.modal-main {
  width: 50vw;
  height: 60vh;
}
.confirm-modal {
  box-sizing: border-box;
  z-index: 4;
  background-color: var(--pageBackground);
  width: 55vw;
  height: 34vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
}
.modal-confirm-backdrop {
  z-index: 3;
}
.modal-confirm-main {
  margin: 1rem 1rem;
}
.modal-exiting-label {
  margin: 10px 0 0 10px;
  color: var(--cardBackground);
  font-size: 24px;
}
.modal-message {
  color: var(--textInput);
  font-size: 24px;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
