@import url("../../../theme.css");

.navbar {
  background-color: var(--cardBackground);
  max-width: 100%;
  box-shadow: var(--mainBoxShadow);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.navbar li {
  color: var(--white);
}

.navbar li a {
  font-style: normal;
  font-weight: 400;
  cursor: pointer;
  font-size: 14px;
  display: block;
  color: white;
  text-align: center;
  border-radius: 4px;
  padding: 7px 18px;
  margin: 10px 16px 8px 16px;
  text-decoration: none;
  transition: 0.4s all;
}

.navbar li a:hover,
.navbar li a.active {
  background: rgba(0, 159, 175, 0.5);
}

.navbar .dropdown {
  position: relative;
  z-index: 10;
  padding: 0 40px;
}

.navbar .dropdown > a {
  display: block;
  border: 1px solid #fff;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar .dropdown > a + div {
  transition: 0.4s all;
  position: absolute;
  top: 100%;
  right: 40px;
  opacity: 0;
  padding-top: 20px;
  width: 150px;
  pointer-events: none;
}

.navbar .dropdown:hover > a + div {
  opacity: 1;
  pointer-events: all;
}

.navbar .dropdown > a + div a {
  display: block;
  padding: 8px 30px;
  border-bottom: 1px solid var(--secondary);
  background: var(--cardBackground);
  color: #fff !important;
  text-decoration: none;
  cursor: pointer;
}
.navbar .dropdown > a + div a:hover {
  color: white;
  background-color: var(--primaryOp90);
}
.user-items {
  display: flex;
}
@media all and (max-width: 600px) {
  .navbar {
    flex-direction: column;
  }
  .navbar + div {
    display: block;
    width: 100%;
  }
  .navbar ul {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .navbar ul li {
    width: 100%;
  }
  .user-items {
    margin: 5px;
  }
}
