@import url("../../theme.css");
.table {
  width: 100%;
  border-collapse: collapse;
  cursor: initial;
  font-size: 1rem;
  text-align: left;
  box-shadow: var(--mainBoxShadow);
}
.head {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: var(--cardBackground);
  box-shadow: var(--mainBoxShadow);
  color: white;
}
.table tbody tr:nth-child(odd),
tbody tr:nth-child(odd) td {
  background-color: #d0d0d0;
}
.table tr {
  height: 60px;
}

.table td {
  border-bottom: 1px solid var(--cardBackground);
}

.table td:not(:last-child) {
  border-right: 1px solid var(--cardBackground);
}
/* Using ::before and ::after to draw something like left and right border
    because with regular border property, it is disappearing when we have parent with position sticky.
  */
.table th {
  position: relative;
}
.table th:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  border-left: 1px solid #fff;
}

.table td,
.table th {
  padding: 9px;
  max-width: 100%;
}
.table-btn {
  background: var(--primary);
  text-decoration: none;
  padding: 10px 20px;
  color: #fff;
  border: none;
  box-shadow: var(--mainBoxShadow);
  border-radius: 4px;
}
.table-btn:hover {
  color: #fff;
}

.editable-cell {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.editable-cell button {
  font: inherit;
  font-weight: bold;
  color: var(--cardBackground);
  border: 1px solid var(--cardBackground);
  width: 2rem;
  text-align: center;
  border-radius: 6px;
  background-color: transparent;
  cursor: pointer;
  margin-left: 0.5rem;
  margin: 0.2rem;
}
.editable-cell button:hover {
  text-shadow: var(--mainBoxShadow);
}

@media all and (max-width: 600px) {
  .table {
    font-size: 0.7rem;
  }
  .table button {
    font-size: 0.7rem;
  }
}
