@import url("../../theme.css");
.acc-item {
  margin-bottom: 1rem;
  border-radius: 4px;
}

.acc-item h2,
.acc-item button {
  background: var(--workoutCardBackground);

  box-shadow: var(--mainBoxShadow);
  border-radius: 4px;
}
.acc-body {
  background-color: var(--pageBackground);
  background: var(--pageBackground);
  overflow: auto;
}
.plan-title {
  margin-bottom: 0;
  margin-right: 1rem;
  color: var(--textInput);
  font-weight: bold;
}
