@import url("../../theme.css");
.users-page {
  margin: 20px 110px;
}
.users-page * {
  font-weight: 400;
}
.users-table {
  max-width: 100%;
  border-collapse: collapse;
  cursor: initial;
  font-size: 20px;
  text-align: left;
  box-shadow: var(--mainBoxShadow);
}
.users-table thead {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background: var(--cardBackground);
  box-shadow: var(--mainBoxShadow);
  color: white;
}
.users-table tbody tr:nth-child(odd),
tbody tr:nth-child(odd) td {
  background-color: #d0d0d0;
}
.users-table tr {
  height: 60px;
}

.users-table td {
  border-bottom: 1px solid var(--cardBackground);
}
.users-table td:nth-child(2) {
  border-right: 1px solid var(--cardBackground);
}
.users-table td:nth-child(1) {
  border-right: 1px solid var(--cardBackground);
}
/* Using ::before and ::after to draw something like left and right border
  because with regular border property, it is disappearing when we have parent with position sticky.
*/
.th-border {
  position: relative;
}
.th-border::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  border-left: 1px solid #fff;
}
.th-border::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-left: 1px solid #fff;
}

.users-table td,
.users-table th {
  padding: 9px;
  width: 500px;
  max-width: 100%;
}
.table-btn {
  background: var(--primary);
  text-decoration: none;
  padding: 10px 20px;
  color: #fff;
  border: none;
  box-shadow: var(--mainBoxShadow);
  border-radius: 4px;
}
.table-btn:hover {
  color: #fff;
}
